.footer
{

	margin-top: 300px;
	display: flex;
	justify-content : flex-right;
	margin-left: 190px;



}
.col1{
	
	padding-top: 15px;
	width: 203px;
	height: 210px;
	font-family: arial;
	font-size: Small;
	color: grey;




}
.lower-footer
{
	display: flex;
	justify-content :flex-right;
	height: 50px;
	width: 90%;
	background-color: black;
	color: white;

}
.un1
{
	display: flex;
	    justify-content: space-around;
}
.un2
{
	display: flex;
	
	margin-left: 20px;
}

.lower{
	display: flex;
	margin-left: 178px;

li
{
	margin-left: 35px;
}
}
