.footer
{

	margin-top: 8px;
	display: flex;
	justify-content : flex-right;
	margin-left: 14px;
    border-top:1px  solid grey;
    color: grey;

}


ul
{
	display:flex;
	list-style-type: none;

	

}.ul-right
	{
		margin-left :530px;
	}

.li-down{
	margin-left : 14px;
}
